body{
background-image: url(final.jpeg);
background-repeat: repeat;


}



.one{
    color: rgb(0, 0, 0);
    text-align: center;
}


.head{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    





}


.total{
     text-align: center;
    max-width: 400px;
    margin: 0 auto 1em auto;
    line-height: 1.5;
}

.list1{
    color: rgb(87, 188, 255);
}
.list2{
    color: rgb(172, 1, 1);
}


.bankai{
    display: block;
    margin: auto;
    width: 250px;
    
}

.Ultrakill{
        display: block;
    margin: auto;
    width: 250px;
}

.Balance{
        display: block;
    margin: auto;
    width: 250px;
}

h1{
    text-align: center;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(14, 14, 139);
    
}
.cool{
   background-color: rgb(81, 55, 86);
  width: 300px;
  border: 15px solid rgb(3, 21, 65);
  padding: 50px;
  margin: auto;
  box-shadow: 10px;
  color: white;
  
   
}
img{
    width: 300px;
  border: 15px double rgb(21, 32, 62);
  padding: 5px;
  box-shadow: 25px rgb(0, 0, 0)
}
.wifetext{
    color: pink;
}

html{
    cursor: im;
}

