body{
background-image: url(cloud.jpeg);
background-repeat: repeat;
}



.one{
    color: rgb(18, 62, 9);
    text-align: center;
}


.head{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
